{%extends 'musicbeats/basic.htm'%}
{% block title%}MusicBeats{% endblock %}

{% block body %}
<style>
  body{
    background-image: url('/static/musicbeats/channel.jpg');
    background-size:cover;
  }
</style>
{% load static %} 
<h1 style="color:#333; text-align: center;">History</h1>

{% if history|length < 1 %}
        <h3 style="text-align: center; padding-top: 5%;">You have no Video in your Watch Later</h3>
{% endif %}

<div class="container">
{% for i in history reversed %}
<div class="card mb-3" style="max-width: 840px; padding-top: 0%;margin-left:250px;">
    <div class="row no-gutters">
      <div class="col-md-4" style="padding-left:20px; padding-right:10px;padding-top:30px;">
        <img src="{{i.image}}" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title" style="color: rgb(128,0,6); font-weight: bold; font-family: 'Times New Roman', Times, serif;">{{i.name}}</h5>
          <p class="card-text">Tags: {{i.tags}}</p>
        <p class="card-text">Movie: {{i.movie}}</p>
          <a href="/musicbeats/songs/{{i.song_id}}"><button class="btn btn-outline-danger">Listen Song</button></a>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
</div>

{% endblock %}
